.fadeUp {
    opacity:0;
    transform:translatey(100px);
}

.left {
    opacity:0;
    transform:translateX(-100%);
    transition:all 1s linear;
}

.headerScale {
    transform:scale(2);
    opacity:0;
}

.heroText {
    opacity:0;
    transform:scale(0) translate(-500px,0);
}